<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HN Tinder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards" id="cardholder">
      {{#each posts}}
        <div class="tinder--card" data-url="{{url}}" data-title="{{title}}">
            <img src="{{image_url}}">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
      {{/each}}
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
<!-- partial -->
  <script src='https://www.unpkg.com/hammerjs@2.0.8/hammer.min.js'></script><script  src="script.js"></script>

</body>
</html>
